[submodule "TransformerS/Transformers/Graph_Transformer"]
	path = TransformerS/Transformers/Graph_Transformer
	url = https://github.com/BUAABIGSCity/PDFormer.git
[submodule "Transformers/Graph_Transformer"]
	path = Transformers/Graph_Transformer
	url = https://github.com/BUAABIGSCity/PDFormer.git
[submodule "Transformers/Visual_Transformer"]
	path = Transformers/Visual_Transformer
	url = git@github.com:Keytoyze/VisionTS.git
